body{
    justify-content: center;
}
/* Navigation */
#navbar {
    width: 100%;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Homepage */
.sname{
    height: 370px; 
    padding: 3px 28px;
}

.sname::before{
    height: 480px; 
}
.sname h2{
    font-size: 1.1rem;
}
.sname p{
    font-size: 13px;
}
/* pizza items/ */
#menu{
    justify-content: center;
}
.item{
flex-direction: column;
align-items: center;
justify-content: center;
padding-left: 60px;
}